[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tmuxline"]
	path = bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/autopep8"]
	path = bundle/autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule "bundle/dwm"]
	path = bundle/dwm
	url = https://github.com/spolu/dwm.vim.git
[submodule "bundle/nerdCommenter"]
	path = bundle/nerdCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdTree"]
	path = bundle/nerdTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/autoPairs"]
	path = bundle/autoPairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/vim-autopep8"]
	path = bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
